#configBoard {
    font-size: 1.5rem;
    padding: 1vw;
    margin: 0;
    opacity: 1;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background-color: #000;
    border: .3vw solid #ccc;
    border-radius: 2.5%;
    overflow: scroll;
}

#ok {
    padding: .5vw;
    display: inline;
    background-color: #0a0;
    cursor: pointer;
    border: .2rem solid #ccc;
    font-size: 2.3rem;
}

#about {
    text-decoration: none;
    color: #fff;
    padding: .5vw;
    display: inline;
    background-color: #000;
    border: .2rem solid #ccc;
    border-radius: 2.5%;
    cursor: pointer;
    margin: .5rem;
    font-size: 2.3rem;
}

#settings{
    display: none;
    z-index: 9;
    margin: 0;
    padding: 0.5vw;
    position: fixed;
    bottom: 1%;
    left: 1%;
    background-color: #000;
    border: .3vw solid #ccc;
    border-radius: 2.5%;
    cursor: pointer;
}
#newGame{
    display: none;
    z-index: 8;
    margin: 0;
    padding: 0.5vw;
    position: fixed;
    bottom: 1%;
    right: 1%;
    background-color: #000;
    border: .3vw solid #ccc;
    border-radius: 2.5%;
    cursor: pointer;
}

select {
    font-size: 2rem;
    background-color: #000;
    color: #ccc;
    -webkit-appearance: none;
}

input {
    font-size: 2rem;
    background-color: #000;
    color: #ccc;
    -webkit-appearance: none;
    max-width: 70%;
}
